body {
    background-color: black;
}

.ball-container-wrapper {
    display: flex;
  }

.ball-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.circle.red {
    background: linear-gradient(rgba(2,0,36,1) 0%, rgba(121,9,9,1) 47%, rgb(221, 63, 63) 100%);
}

.circle.green {
    background: linear-gradient(rgba(2,0,36,1) 0%, rgb(2, 80, 43) 47%, rgb(2, 196, 121) 100%);
}

.stick {
    width: 17px;
    height: 20px;
    background-color: rgb(17, 17, 17);
    position: absolute;
    top: 7px;
}   

.line {
    width: 100px;
    height: 10px;
    background-color: rgb(255, 226, 226);
    position: absolute;
}

.shine {
    width: 20px;
    height: 25px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255);
    position: absolute;
    top: 25%;
    left: 55%;
    opacity: 20%;
    rotate: -30deg;
}

.bright {    
    width: 120%;
    height: 120%;
    border-radius: 100px;
    opacity: 0%;
}

.bright.red {
    background: red;
}

.bright.green {
    background: rgb(5, 136, 23);
}

.circle:hover .bright{
    opacity: 15%;
}

.cable {
    width: 200px;
    height: 100px;
    border: solid 5px;
    border-color: transparent transparent rgb(41, 25, 2) transparent;
    border-radius: 0 0 80% 80%;
    position: absolute;
    top: -70px;
    margin-left: -105px;
}
