body {
    background-color: black;
}

.ball-container-wrapper {
    display: flex;
  }

.ball-container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: linear-gradient(rgba(2,0,36,1) 0%, rgba(121,9,9,1) 47%, rgb(126, 8, 8) 100%);
}

.stick {
    width: 17px;
    height: 20px;
    background-color: rgb(17, 17, 17);
    position: absolute;
    top: 7px;
}   

.line {
    width: 100px;
    height: 10px;
    background-color: rgb(255, 226, 226);
    position: absolute;
}

.shine {
    width: 20px;
    height: 25px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255);
    position: absolute;
    top: 25%;
    left: 55%;
    opacity: 20%;
    rotate: -30deg;
}

.bright {    
    background: red;
    width: 120%;
    height: 120%;
    border-radius: 100px;
    opacity: 0%;
}

.circle:hover .bright{
    opacity: 10%;
}



.cable-container {
    width: 200;
    height: 100px;
    display: flex;
}


.cable {
    width: 200px;
    height: 100px;
    border: solid 5px;
    border-color: transparent transparent rgb(41, 25, 2) transparent;
    border-radius: 0 0 80% 80%;
    position: absolute;
    top: -70px;
    margin-left: -105px;
}